# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Outputs / logs
outputs/
wandb/
runs/
*.log

# Data (never commit datasets)
data/
*.zip
*.tar
*.tar.gz

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/